.course{
    width:19%;
    float: left;
    margin: 2%;
    background-color: white;
    box-shadow: 2px 4px 4px 4px black;
    padding: 10px;
    margin-left: 9%;
    border-radius: 2px;
}

.course img{
    width:100%;

}

.course h3{
    text-align: center;
    font-size: 20px;
    color: #00396C;
}
.course h4{
    text-align: center;
    font-size: 15px;
    color: #F19C06
}

@media screen and (max-width: 800px){
    .course{
        width:90%;
        
}

@media screen and (max-width: 300px){
    .course{
        width:60%;
        
}
